<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sea.auth.dao.PermissionMapper">
  <resultMap id="BaseResultMap" type="com.sea.auth.entity.Permission">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="app_id" jdbcType="INTEGER" property="appId" />
    <result column="menu_id" jdbcType="INTEGER" property="menuId" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="uri" jdbcType="VARCHAR" property="uri" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <sql id="Base_Column_List">
    id, app_id, menu_id, code, name, uri, remark, create_time, update_time
  </sql>

  <insert id="insert" parameterType="com.sea.auth.entity.Permission">
    insert into t_permission (app_id, menu_id, code, name, uri, remark, create_time, update_time)
    values (#{appId,jdbcType=INTEGER}, #{menuId,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR},
      #{name,jdbcType=VARCHAR}, #{uri,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      now(), now())
  </insert>

  <select id="getByIds" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from t_permission where id in
    <foreach collection="ids" item="id" separator="," open="(" close=")" index="index">
      #{id}
    </foreach>
  </select>
</mapper>